@import url('https://fonts.googleapis.com/css?family=Lato');

.appBar{
  position: fixed;

}

div {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,b,p,span,big{
  font-family: 'Lato', sans-serif;
}

.padreProfile{
  text-align: center;
}

.paperProfile{
  height: auto;
  width: 85vw;
  margin: 10% auto auto auto;
  font-family: 'Lato', sans-serif;
}
.padreProfile > h6 {
  background-color: #bc960b;
  font-size: 1.1rem
}
.logoMenu{
  text-align: center;
  margin-top: 15px
}
.input{
  font-size: 12px
}
.floating{
  float: right;
}
.tabAppBar{
  color: red
}
.icon{
  margin-right: 5%
}
.imgEditProf{
  width: 50%;
  height: 75%;
  margin: -3% auto -3% auto;
}